# Ignore Laravel-specific files
/vendor/
/storage/
/public/uploads/
/public/storage/app

# Ignore IDE files
/.idea/
/.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore other files
.env
.phpstorm.meta.php
